/*!
 * content.scss
 * in "Keyboard Shortcuts for Google Translate" (Google Chrome Extension)
 * https://github.com/yamayamayamaji/Keyboard-Shortcuts-for-Google-Translate
 * Copyright 2013, Ryosuke Yamaji
 *
 * License: MIT
 */
@charset "utf-8";

//mixins
@mixin key-nav($shortcutKey) {
    color: #aaa;
    font-weight: normal;
    position: relative;
    text-decoration: underline;
    @content;
    content: $shortcutKey;
}

@mixin key-nav-h($shortcutKey) {
    @include key-nav($shortcutKey);
}
@mixin key-nav-v($shortcutKey, $top) {
    @include key-nav($shortcutKey) {
        display: block;
        text-align: center;
        @content;
    }
    top: $top;
}

@mixin key-nav-v-char($shortcutKey, $top: -12px) {
    @include key-nav-v($shortcutKey, $top) {
        font-size: smaller;
    }
}
@mixin key-nav-v-num($shortcutKey, $top: -13px) {
    @include key-nav-v($shortcutKey, $top) {
        @content;
    }
}
@mixin key-nav-for-langlist($shortcutKey, $top: -5px) {
    @include key-nav-v($shortcutKey, $top) {
        left: -7px;
    }
}


body {
    counter-reset: langs;
}

#gt-swap::after {
    @include key-nav-v-num("(0)");
}

#gt-langs .jfk-button:not([aria-hidden="true"]):not(#gt-swap):not(#gt-submit)::after {
    @include key-nav-h("(" counter(langs) ")");
    counter-increment: langs;
}

#gt-sl-gms {
    .goog-flat-menu-button-dropdown::after {
        @include key-nav-for-langlist("(8)");
    }
}
#gt-tl-gms {
    .goog-flat-menu-button-dropdown::after {
        @include key-nav-for-langlist("(9)");
    }
}

#gt-clear::after {
    @include key-nav-v-char("(d)", -7px);
}
#gt-speech::after {
    @include key-nav-v-char("(m)");
}
#gt-src-listen::after {
    @include key-nav-v-char("(L or k)");
}
#gt-res-select::after {
    @include key-nav-v-char("(a)");
}
#gt-res-listen::after {
    @include key-nav-v-char("(l)");
}
#gt-pb-star .goog-toolbar-button::after {
    @include key-nav-v-char("(p)");
}
