/*!
 * content.scss
 * in "Keyboard Shortcuts for Google Translate" (Google Chrome Extension)
 * https://github.com/yamayamayamaji/Keyboard-Shortcuts-for-Google-Translate
 * Copyright 2013, Ryosuke Yamaji
 *
 * License: MIT
 */
@charset "utf-8";

//mixins
@mixin key-nav() {
    color: #aaa;
    font-weight: normal;
    position: relative;
    text-decoration: underline;
    @content;
    content: attr(data-key-navi);
}

@mixin key-nav-h() {
    @include key-nav();
}
@mixin key-nav-v($top) {
    @include key-nav() {
        display: block;
        text-align: center;
        @content;
    }
    top: $top;
}

@mixin key-nav-v-char($top: 0) {
    @include key-nav-v($top) {
        font-size: smaller;
    }
}
@mixin key-nav-v-num($top: 0) {
    @include key-nav-v($top) {
        @content;
    }
}
@mixin key-nav-for-langlist($top: 0) {
    @include key-nav-v($top) {
        left: -7px;
    }
}


// language swap
#gt-swap::after {
    @include key-nav-v-num(-13px);
}
// language select
#gt-langs .jfk-button:not([aria-hidden="true"]):not(#gt-swap):not(#gt-submit)::after {
    @include key-nav-h();
    counter-increment: langs;
}

// source language list
// target language list
#gt-sl-gms,
#gt-tl-gms {
    .goog-flat-menu-button-dropdown::after {
        @include key-nav-for-langlist(-5px);
    }
}

#gt-lang-submit {
    &::after {
        @include key-nav-v-char(9px);
        display: none;
    }
    &:hover::after {
        display: inline-block;
    }
}

#gt-clear::after {
    @include key-nav-v-char(-7px);
}

#gt-speech,
#gt-src-roman,
#gt-src-listen,
#gt-res-select,
#gt-res-copy,
#gt-res-listen,
#gt-pb-star .goog-toolbar-button,
#gt-res-roman {
    &::after {
        @include key-nav-v-char(-12px);
    }
}
