/*!
 * options.scss
 * in "Keyboard Shortcuts for Google Translate" (Google Chrome Extension)
 * https://github.com/yamayamayamaji/Keyboard-Shortcuts-for-Google-Translate
 * Copyright 2013, Ryosuke Yamaji
 *
 * License: MIT
 */
@charset "utf-8";

$fineColor: #6a6;
$invalidColor: #f66;

@mixin cell($width: auto) {
    display: inline-block;
    vertical-align: middle;
    width: $width;
}

%clearfix {
    clear: both;
    content: "";
    display: block;
}

body {
    margin-top: 0;
}

.contents {
    $width: 250px;
    $count: 2;
    $width-and-count: $width $count;
    -webkit-columns: $width-and-count;
    columns: $width-and-count;
    min-width: $width * $count + 50px;
}

.toolbar {
    padding: 3px;

    &.tb-footer {
        position: fixed;
        bottom: 0;
    }

    .tb-item {
        display: inline-block;

        &.tb-item-left {
            float: left;
        }
        &.tb-item-right {
            float: right;
        }
    }

    &::after {
        @extend %clearfix;
    }
}

#status {
    font-size: small;

    &.good {
        color: $fineColor;
    }
    &.bad {
        color: $invalidColor;
    }
}

#reset-btn {
    text-decoration: underline;
    color: #af9036;
    cursor: pointer;
}

.group-wrap {
    // margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
    // -webkit-column-break-after: always;
    // break-after: column;
}
.row-wrap {
    margin: 0;
    padding: 3px;
    min-height: 26px;
    font-size: inherit;

    &:nth-of-type(even) {
        background-color: #f6f6f6;
    }
}
.rcv-name-wrap {
    @include cell(80px);
    font-weight: bold;
    margin: 0 5px;
}
.key-inputer-wrap {
    @include cell();
    margin: 0 5px;
}
.with-shift-wrap {
    @include cell();
    margin: 0 10px;
}
.navi-disp-wrap {
    font-size: small;
    margin: 0 5px;
}

.group-head {
    margin: 0;
    padding: 5px;
    background-color: #eee;

    .group-title {
        font-size: medium;
        font-weight: bold;
    }
}

.navi-disp-sb {
    margin-left: 5px;
}
.key-inputer-txt {
    text-align: center;
    width: 26px;

    &:invalid {
        background-color: $invalidColor;
    }
}
.with-shift-cb {
}

.note {
    font-weight: bold;
    color: #30b578;

    &::before {
        content: "*";
    }
}

#donations {
    color: #888;
}