/*!
 * content.scss
 * in "Keyboard Shortcuts for Google Translate" (Google Chrome Extension)
 * https://github.com/yamayamayamaji/Keyboard-Shortcuts-for-Google-Translate
 * Copyright 2013, Ryosuke Yamaji
 *
 * License: MIT
 */
/* line 50, ../sass/content.scss */
body {
  counter-reset: langs; }

/* line 55, ../sass/content.scss */
#gt-swap::after {
  color: #aaa;
  font-weight: normal;
  position: relative;
  text-decoration: underline;
  display: block;
  text-align: center;
  content: attr(data-key-navi);
  top: -13px; }

/* line 59, ../sass/content.scss */
#gt-langs .jfk-button:not([aria-hidden="true"]):not(#gt-swap):not(#gt-submit)::after {
  color: #aaa;
  font-weight: normal;
  position: relative;
  text-decoration: underline;
  content: attr(data-key-navi);
  counter-increment: langs; }

/* line 68, ../sass/content.scss */
#gt-sl-gms .goog-flat-menu-button-dropdown::after,
#gt-tl-gms .goog-flat-menu-button-dropdown::after {
  color: #aaa;
  font-weight: normal;
  position: relative;
  text-decoration: underline;
  display: block;
  text-align: center;
  left: -7px;
  content: attr(data-key-navi);
  top: -5px; }

/* line 73, ../sass/content.scss */
#gt-clear::after {
  color: #aaa;
  font-weight: normal;
  position: relative;
  text-decoration: underline;
  display: block;
  text-align: center;
  font-size: smaller;
  content: attr(data-key-navi);
  top: -7px; }

/* line 85, ../sass/content.scss */
#gt-speech::after,
#gt-src-roman::after,
#gt-src-listen::after,
#gt-res-select::after,
#gt-res-copy::after,
#gt-res-listen::after,
#gt-pb-star .goog-toolbar-button::after,
#gt-res-roman::after {
  color: #aaa;
  font-weight: normal;
  position: relative;
  text-decoration: underline;
  display: block;
  text-align: center;
  font-size: smaller;
  content: attr(data-key-navi);
  top: -12px; }
