/*!
 * content.scss
 * in "Keyboard Shortcuts for Google Translate" (Google Chrome Extension)
 * https://github.com/yamayamayamaji/Keyboard-Shortcuts-for-Google-Translate
 * Copyright 2013, Ryosuke Yamaji
 *
 * License: MIT
 */
/* line 53, ../sass/content.scss */
#gt-swap.navi::after {
  color: #aaa;
  font-weight: normal;
  position: relative;
  text-decoration: underline;
  content: attr(data-key-navi);
  display: block;
  text-align: center;
  top: -13px; }

/* line 61, ../sass/content.scss */
#gt-langs .jfk-button:not([aria-hidden="true"]):not(#gt-swap):not(#gt-submit).navi::after {
  color: #aaa;
  font-weight: normal;
  position: relative;
  text-decoration: underline;
  content: attr(data-key-navi); }

/* line 84, ../sass/content.scss */
#gt-sl-gms .goog-flat-menu-button-dropdown.navi::after,
#gt-tl-gms .goog-flat-menu-button-dropdown.navi::after {
  color: #aaa;
  font-weight: normal;
  position: relative;
  text-decoration: underline;
  content: attr(data-key-navi);
  display: block;
  text-align: center;
  left: -7px;
  top: -5px; }

/* line 92, ../sass/content.scss */
#gt-lang-submit::after {
  color: #aaa;
  font-weight: normal;
  position: relative;
  text-decoration: underline;
  content: attr(data-key-navi);
  display: none;
  text-align: center;
  font-size: smaller;
  top: 9px; }
/* line 95, ../sass/content.scss */
#gt-lang-submit:hover::after {
  display: inline-block; }

/* line 102, ../sass/content.scss */
#gt-clear.navi::after {
  color: #aaa;
  font-weight: normal;
  position: relative;
  text-decoration: underline;
  content: attr(data-key-navi);
  display: block;
  text-align: center;
  font-size: smaller;
  top: -7px; }

/* line 117, ../sass/content.scss */
#gt-speech.navi::after,
#gt-src-roman.navi::after,
#gt-src-listen.navi::after,
#gt-res-select.navi::after,
#gt-res-copy.navi::after,
#gt-res-listen.navi::after,
#gt-pb-star .goog-toolbar-button.navi::after,
#gt-res-roman.navi::after {
  color: #aaa;
  font-weight: normal;
  position: relative;
  text-decoration: underline;
  content: attr(data-key-navi);
  display: block;
  text-align: center;
  font-size: smaller;
  top: -12px;
  color: #aaa;
  font-weight: normal;
  position: relative;
  text-decoration: underline;
  content: attr(data-key-navi); }

/* line 127, ../sass/content.scss */
#gt-src-wrap.navi::after {
  color: #aaa;
  font-weight: normal;
  position: relative;
  text-decoration: underline;
  content: attr(data-key-navi);
  display: block;
  text-align: center;
  font-size: smaller;
  right: 3px;
  bottom: 1px;
  position: absolute;
  content: attr(data-key-navi) " to focus";
  top: auto; }
